apiVersion: v1
kind: Secret
metadata:
  name: {{ include "subimage-outpost.fullname" . }}-secrets
  namespace: {{ .Values.namespace.name }}
  labels:
    {{- include "subimage-outpost.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- $authKey := required "outpost.authKey is required" .Values.outpost.authKey }}
  {{- if not (contains "ephemeral=true" $authKey) }}
  TAILSCALE_AUTHKEY: {{ printf "%s?ephemeral=true" $authKey | quote }}
  {{- else }}
  TAILSCALE_AUTHKEY: {{ $authKey | quote }}
  {{- end }}
